.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3ba1;
    padding: 0.8rem 2rem;
    color: #51bcd6;
    border-color: blueviolet;
    flex-shrink: inherit;
    border-color: #e68900;
    box-shadow:0 4px 12px rgba(2, 0, 2, 10);
    margin: 0px 10px 10px 10px;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
  background-color: #1e3ba1;
}

.logo img{
  width:80px;
  height:80px;
  background-color: #1e3ba1;
  border-radius: 20px;
}
.logo h1{
  font-size: 1.5rem;
  margin:0;
  background-color: #1e3ba1;
}

.nav-links {
  list-style-type:none;
  display:flex;
  background-color: #1e3ba1;
  gap:20px;
}
.nav-links li a{
  text-decoration: none;
  color:#fff;
  font-weight: 500;
  background-color: #1e3ba1;
  transition: color 0.3s ease;
}

.nav-links li a:hover{
  color:#ff9800;
}

.signup-btn {
    background: #5158d6;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}

.signup-btn:hover {
    background: #e68900;
}
.login-btn {
    background: #5158d6;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}

.login-btn:hover {
    background: #e68900;
}
