.explore-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #3054a9b9;
  align-items: center;
  justify-content:center;

}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.course-card {
  background: #a3b8c9d8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.course-card:hover {
  transform: scale(1.03);
}

.course-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.course-info {
  padding: 15px;
}

.course-info h3 {
  margin: 0 0 10px;
  color: #222;
}
